{% extends "base.html" %}
{% block title %}Unirse a partida{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Unirse a partida</h3>
    <div class="form-group">
      <label for="matchId">Id de partida</label>
      <input
        type="text"
        class="form-control"
        id="matchId"
        name="matchId"
        placeholder="Introduce el id de partida"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Unirse</button>
  </form>
{% endblock %}