{% extends "base.html" %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='styTab.css') }}">
{% endblock %}
{% block title %}Crear Partida{% endblock %}

{% block content %}
<br/>
<div class="row">
  <div class="col-md-auto">
    <div id="game-board">
        <div class="column" id="column-0" data-x="0">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column"  id="column-1" data-x="1">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column" id="column-2" data-x="2">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column" id="column-3" data-x="3">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column" id="column-4" data-x="4">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column" id="column-5" data-x="5">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
        <div class="column" id="column-6" data-x="6">
            <svg height="100" width="100" class="row-5">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-4">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-3">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-2">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-1">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
            <svg height="100" width="100" class="row-0">
              <circle cx="50" cy="50" r="40" stroke="#0B4E72" stroke-width="3" class="free" />
            </svg> 
        </div>
    </div>
  </div>
  <div class="col-md-auto">

    <p align="center" style="font-size:160%;"><b>Información de la partida</b></p>
    <p id="matchInfo"></p>

    <div style="border:1px solid black;">
    <p align="center"><b>Solo play</b></p>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <select class="form-control" id="selectAI">
          <option value="0">Selecciona IA</option>
          <option value="1">RandomIA</option>
          <option value="2">2IA2</option>
          <option value="3">IA3</option>
        </select>
      </div>
      <div class="col-md-3"></div>
    </div>

    <br>
    <div align="center">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="redColor" value="red">
        <label class="form-check-label" for="inlineRadio1">Rojo</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="yellowColor" value="yellow">
        <label class="form-check-label" for="inlineRadio2">Amarillo</label>
      </div>
      <button type="button" class="btn btn-success" onClick="getData()">Empezar</button>
    </div>
    <br>
  </div>

    <p align="center" style="font-size:160%;"><b>Chat</b></p>
    <textarea id="chat" cols="40" rows="7" placeholder="No hay mensajes todavia."></textarea><br/>
    <input type="text" id="text" size="31" placeholder="Escribe tu mensaje aqui"/>
    <button type="button" id="send" class="btn btn-success"><i class="fa fa-paper-plane"></i></button>

  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='con4.js') }}"
></script>

<script 
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"
></script>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='socket_match.js') }}"
></script>

<script>
  //VARIABLES GLOBALES

  var socket = io.connect()
  _initSocket(socket)
  var gameBoard = [];
  var playerColor = "None";

  //variables de una ia
  var ai_name;
  var ai_color;
  var ai_turn;
  //si se añade una ia añadir aqui el nombre
  var ai_names = ['randomIA']

  //VARIABLES GLOBALES

 /*
 Pasos para crear ias
 1. crea una funcion que devuelva la columna en la que pone la ia
 2. meter ese valor siguiendo el patron que se ve en el switch de el socket de 'place'
 */
//TODO
/*
1. los turnos no funcionan todavia
*/
</script>
{% endblock %}